github-copilot
jgit
gh
bu
testbuild
envman
.DS_Store
*.kdl.bak.*
backups
zed/prompts/prompts-library-db.0.mdb/lock.mdb
nvim/lazy-lock.json
sennvim
helix/runtime/grammars/sources
raycast/extensions
nvtest
exercism/user.json
